<p class="filter-text">Select criteria for the nodes you want to filter.</p>
<div>
  <p class="txt">Select concerns:</p>
  <div class="select-criteria">
    <ng-template #concernTemplateRef let-concern="node">
      <div class="node">
        <label class="node-label">
          <input type="checkbox" [checked]="concern.check" [ngModel]="concern.check" class="filter"
                 (ngModelChange)="selectNode(concern, $event)" [id]="concern.id">{{concern.concern}}
        </label>
        <div *ngIf="concern.subconcerns.length" class="node-children">
          <ng-template ngFor let-subconcern [ngForOf]="concern.subconcerns">

            <ng-template
              [ngTemplateOutlet]="concernTemplateRef"
              [ngTemplateOutletContext]="{node:subconcern}">
            </ng-template>
          </ng-template>
        </div>
      </div>
    </ng-template>
    <ng-template ngFor let-concerns [ngForOf]="concernForest!.roots">
      <ng-template
        [ngTemplateOutlet]="concernTemplateRef"
        [ngTemplateOutletContext]="{node:concerns}">
      </ng-template>
    </ng-template>
  </div>
</div>

<div class="filter-slider">
  <div><label class="filter-selection"><input type="checkbox" id="risk-level-filter" class="filter"
                                              name="risk-level" [(ngModel)]="filterByRiskLevel">Consequence</label></div>
  <div [hidden]="!filterByRiskLevel" class="slider-input">
    <div class="slider-container">
      <input id="fromSliderRisk" type="range" value="3" min="1" max="5">
      <input id="toSliderRisk" type="range" value="5" min="1" max="5">
    </div>
    <div class="slider-values">
      <div>Lowest Value<input class="slider-number-input" type="number" id="fromInputRisk" value="3" min="1"
                              max="5"></div>
      <div>Highest Value<input class="slider-number-input" type="number" id="toInputRisk" value="5" min="1"
                               max="5"></div>
    </div>
  </div>
</div>

<div class="filter-slider">
  <div><label class="filter-selection"><input type="checkbox" id="likelihood-filter" name="likelihood"
                                              class="filter"
                                              [(ngModel)]="filterByLikelihood">Likelihood</label>
  </div>
  <div [hidden]="!filterByLikelihood" class="slider-input">
    <div class="slider-container">
      <input id="fromSliderLikelihood" type="range" value="3" min="1" max="5">
      <input id="toSliderLikelihood" type="range" value="5" min="1" max="5">
    </div>
    <div class="slider-values">
      <div>Lowest Value<input class="slider-number-input" type="number" id="fromInputLikelihood" value="3" min="1"
                              max="5"></div>
      <div>Highest Value<input class="slider-number-input" type="number" id="toInputLikelihood" value="5" min="1"
                               max="5"></div>
    </div>
  </div>
</div>

<div class="filter-slider">
  <div><label class="filter-selection"><input type="checkbox" id="factor-filter" name="risk-factor" class="filter"
                                              [checked]=false [(ngModel)]="filterByRiskFactor">Risk
    Factor</label></div>
  <div [hidden]="!filterByRiskFactor" class="slider-input">
    <div class="slider-container">
      <input id="fromSliderRiskFac" type="range" value="10" min="1" max="25">
      <input id="toSliderRiskFac" type="range" value="15" min="1" max="25">
    </div>
    <div class="slider-values">
      <div>Lowest Value<input class="slider-number-input" type="number" id="fromInputRiskFac" value="10" min="1"
                              max="25"></div>
      <div>Highest Value<input class="slider-number-input" type="number" id="toInputRiskFac" value="15" min="1"
                               max="25"></div>
    </div>
  </div>
</div>

<div class="filter-slider">
  <div><label class="filter-selection"><input type="checkbox" id="mitigation-filter" name="mitigation"
                                              class="filter"
                                              [(ngModel)]="filterByMitigation">Mitigation
    Strategy</label></div>
  <div [hidden]="!filterByMitigation" class="radio-wrapper">
    <p class="txt">Select nodes that: </p>
    <div class="radio-value">
      <input id="has-mitigation" type="radio" class="mitigation-radio filter" name="mitigation"
             value="has-mitigation">
      <label class="radio-text txt" for="has-mitigation">have a mitigation strategy</label>
    </div>
    <div class="radio-value">
      <input id="no-mitigation" type="radio" class="mitigation-radio filter" name="mitigation"
             value="no-mitigation">
      <label class="radio-text txt" for="no-mitigation">don't have a mitigation strategy</label>
    </div>
  </div>
</div>

<div class="bottom">
  <div class="bottom-btn">
    <button id="reset-btn" class="reset-filter-btn btn" (click)="resetCheckboxes()">Reset Filter</button>
    <button id="apply-btn" class="apply-filter-btn btn" (click)="applyFilter()">Apply Filter</button>
  </div>
  <div id="attention-div" *ngIf="show_attention">
    <img ngSrc=" {{ imageUrl_attention }}" alt="attention" height="20" width="20">
    <p class="txt" id="attention-txt">{{ attention_msg }}</p>
  </div>
</div>
