
<!--
<div>
  <h1>Supply Chain Group Welcome!</h1>
  <h3>Dummy ID: {{node.Node_ID}}</h3>
  <p>Email: {{node.Node_name}}</p>
  <p>Number of concerns: {{node.Type}}</p>
</div>
-->
<div>
  <h1>Supply Chain Nodes</h1>
  <ul>
    <li *ngFor="let node of nodes">
      Node ID: {{ node.Node_ID }}<br>
      Root: {{ node.Root }}<br>
      Node Name: {{ node.Node_name }}<br>
      Type: {{ node.Type }}<br>
      Supplying To: {{ node.Supplying_To }}<br>
      Suppliers: {{ node.Suppliers }}<br>
      Risks:
      <ul>
        <li *ngFor="let risk of node.Risks">
          Name: {{ risk.Name }}<br>
          Risk ID: {{ risk.Risk_ID }}<br>
          Consequence: {{ risk.Consequence }}<br>
          Likelihood: {{ risk.Likelihood }}<br>
          Mitigation Strategies: {{ risk.Mitigation_Strategies }}<br>
          Concern IDs: {{ risk.Concern_IDs }}<br>
        </li>
      </ul>
    </li>
  </ul>
</div>


