<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Supply Chain Viewer">
  <meta name="description" content="">
  <title>Supply Chain Viewer</title>
  <link rel="stylesheet" href="../../../style/nicepage.css" media="screen">
  <link rel="stylesheet" href="../../../style/import_view.css" media="screen">
  <link rel="stylesheet" href="../../../style/modular.css" media="screen">
  <script class="u-script" type="text/javascript" src="../../../style/scripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../../../style/scripts/nicepage.js" defer=""></script>
  <meta name="referrer" content="origin">
  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Supply Chain Viewer">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-xl-mode" data-lang="en">
<section class="u-align-center u-clearfix u-section-1" id="sec-a789">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-container-style u-group u-group-1">
      <div class="u-container-layout u-container-layout-1"><span
        class="u-dialog-link u-file-icon u-icon u-text-palette-5-dark-1 u-icon-1" data-href="#sec-0765"><img
        src="../../../style/icons/help.png" alt=""></span>
        <h2 class="u-align-center u-text u-text-default u-text-1">Supply Chain Viewer</h2>
        <p class="u-align-center u-text u-text-2">A tool for visualising supply chains and tracking their concerns and
          risks.</p>
        <a href=""
           class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-light-1 u-radius-6 u-btn-1">
          Import<br>Supply Chain
        </a>
        <a href=""
           class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-light-1 u-radius-6 u-btn-2">
          Import<br>Concern Forest
        </a>
        <a href="visualize_view.html"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-3">VISUALIZE</a><span
          class="u-file-icon u-hover-feature u-icon u-icon-2"><img src="../../../style/icons/attention.png" alt=""
                                                                   hidden="until-found"></span>
      </div>
    </div>
  </div>

</section>

<section
  class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-4"
  id="sec-0765">
  <div class="u-container-style u-dialog u-shape-rectangle u-white u-dialog-1">
    <div class="u-container-layout u-valign-top u-container-layout-1">
      <h2 class="u-align-center u-text u-text-default u-text-1">HELP</h2>
      <h5 class="u-align-left u-text u-text-default u-text-2">Format of Supply Chain input file:</h5>
      <p class="u-align-left u-text u-text-default u-text-3">Bla bla bla</p>
      <h5 class="u-align-left u-text u-text-default u-text-4">Concern Forest</h5>
      <p class="u-align-left u-text u-text-default u-text-5">Bla bla bla</p>
    </div>
    <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
    </button>
  </div>
</section>

</body>
</html>
