<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="HELP">
  <meta name="description" content="">
  <title>Visualize Supply Chain</title>
  <link rel="stylesheet" href="style/nicepage.css" media="screen">
  <link rel="stylesheet" href="style/visualize_view.css" media="screen">
  <link rel="stylesheet" href="style/modular.css" media="screen">
  <script class="u-script" type="text/javascript" src="style/scripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="style/scripts/nicepage.js" defer=""></script>
  <meta name="referrer" content="origin">
  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Visualize">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-xl-mode" data-lang="en">
<header class="u-clearfix u-header u-palette-5-light-3 u-header" id="sec-01da">
  <div class="u-clearfix u-sheet u-sheet-1">
    <a href="import_view.html"
       class="u-btn u-btn-round u-button-style u-grey-25 u-radius-10 u-text-palette-5-light-3 u-btn-1">
      Import a new<br>Supply Chain
    </a>
    <a href="#sec-5657" class="u-btn u-btn-round u-button-style u-dialog-link u-radius-10 u-btn-2">Apply Filters</a>
    <a href="#sec-c0b7"
       class="u-btn u-btn-round u-button-style u-palette-1-light-2 u-radius-10 u-dialog-link u-text-body-alt-color u-btn-3">Export<span
      style="font-size: 0.875rem;"></span> <!--TODO: Right now, the export displays node details-->
    </a>
  </div>
</header>
<section class="u-clearfix u-section-1" id="sec-3665">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-1"></div>
    </div>
  </div>
</section>

<section
  class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-5"
  id="sec-5657">
  <div class="u-container-style u-dialog u-white u-dialog-1">
    <div class="u-container-layout u-container-layout-1">
      <h6 class="u-align-center u-text u-text-default u-text-1">FILTER NODES</h6>
      <p class="u-align-left u-text u-text-default u-text-2">Select the criteria for the nodes you want to see:</p>
      <div class="u-form u-form-1">
        <form action=""
              class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" name="form"
              style="padding: 10px;">
          <div class="u-form-checkbox-group u-form-group u-label-top u-form-group-1">
            <label class="u-label u-label-1">Select concerns:</label>
            <div class="u-form-checkbox-group-wrapper">
              <div class="u-input-row">
                <input id="field-a6ed" type="checkbox" name="checkbox[]" value="Concern1" class="u-field-input"
                       data-calc="">
                <label class="u-field-label" for="field-a6ed">Concern1</label>
              </div>
              <div class="u-input-row">
                <input id="field-013d" type="checkbox" name="checkbox[]" value="Concern2" class="u-field-input"
                       data-calc="">
                <label class="u-field-label" for="field-013d">Concern2</label>
              </div>
              <div class="u-input-row">
                <input id="field-6edf" type="checkbox" name="checkbox[]" value="Concern3" class="u-field-input"
                       data-calc="">
                <label class="u-field-label" for="field-6edf">Concern3</label>
              </div>
            </div>
          </div>
          <div class="u-form-checkbox-group u-form-group u-label-top u-form-group-2">
            <label class="u-label u-label-2">Select risks:</label>
            <div class="u-form-checkbox-group-wrapper">
              <div class="u-input-row">
                <input id="field-d500" type="checkbox" name="checkbox-1[]" value="Risk1" class="u-field-input"
                       data-calc="">
                <label class="u-field-label" for="field-d500">Risk1</label>
              </div>
              <div class="u-input-row">
                <input id="field-7a23" type="checkbox" name="checkbox-1[]" value="Risk2" class="u-field-input"
                       data-calc="">
                <label class="u-field-label" for="field-7a23">Risk2</label>
              </div>
              <div class="u-input-row">
                <input id="field-88ef" type="checkbox" name="checkbox-1[]" value="Risk3" class="u-field-input"
                       data-calc="">
                <label class="u-field-label" for="field-88ef">Risk3</label>
              </div>
            </div>
          </div>
          <div class="u-form-checkbox u-form-group u-label-top u-form-group-3">
            <input type="checkbox" id="checkbox-bf2c" name="risk-level-check" value="On" class="u-field-input">
            <label for="checkbox-bf2c" class="u-field-label">Filter by risk level</label>
          </div>
          <div class="u-form-group u-form-number u-form-number-layout-range-number u-label-top u-form-group-4"
               data-dependency="[{&quot;action&quot;:&quot;show&quot;,&quot;field&quot;:&quot;risk-level-check&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:1}]">
            <label for="range-0766" class="u-form-control-hidden u-label u-label-3"></label>
            <div class="u-input-row" data-value="0">
              <input value="0" min="0" max="10" step="1" type="range" placeholder="" id="range-0766" name="range"
                     class="u-input u-range">
              <input type="number" placeholder="" id="number-range-0766" class="u-input u-range" min="0" max="10"
                     step="1" value="0">
            </div>
          </div>
          <div class="u-form-checkbox u-form-group u-label-top u-form-group-5">
            <input type="checkbox" id="checkbox-c533" name="likelihood-checkbox" value="On" class="u-field-input">
            <label for="checkbox-c533" class="u-field-label">Filter by likelihood</label>
          </div>
          <div class="u-form-group u-form-number u-form-number-layout-range-number u-label-top u-form-group-6"
               data-dependency="[{&quot;action&quot;:&quot;show&quot;,&quot;field&quot;:&quot;likelihood-checkbox&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:1}]">
            <label for="range-ad43" class="u-form-control-hidden u-label u-label-4"></label>
            <div class="u-input-row" data-value="0">
              <input value="0" min="0" max="10" step="1" type="range" placeholder="" id="range-ad43" name="range-1"
                     class="u-input u-range">
              <input type="number" placeholder="" id="number-range-ad43" class="u-input u-range" min="0" max="10"
                     step="1" value="0">
            </div>
          </div>
          <div class="u-form-checkbox u-form-group u-label-top u-form-group-7">
            <input type="checkbox" id="checkbox-4f17" name="mitigation-checkbox" value="On" class="u-field-input">
            <label for="checkbox-4f17" class="u-field-label">Filter by mitigation strategy</label>
          </div>
          <div class="u-form-group u-form-input-layout-horizontal u-form-radiobutton u-label-top u-form-group-8"
               data-dependency="[{&quot;action&quot;:&quot;show&quot;,&quot;field&quot;:&quot;mitigation-checkbox&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:1}]">
            <label class="u-form-control-hidden u-label u-label-5"></label>
            <div class="u-form-radio-button-wrapper">
              <div class="u-input-row">
                <input id="field-42ed" type="radio" name="radiobutton" value="Has mitigation strategy"
                       class="u-field-input" checked="checked" data-calc="">
                <label class="u-field-label" for="field-42ed">Has mitigation strategy</label>
              </div>
              <div class="u-input-row">
                <input id="field-6ef0" type="radio" name="radiobutton" value="Doesn't have mitigation strategy"
                       class="u-field-input" data-calc="">
                <label class="u-field-label" for="field-6ef0">Doesn't have mitigation strategy</label>
              </div>
            </div>
          </div>
          <div class="u-align-left u-form-group u-form-submit u-label-top">
            <a href="#" class="u-btn u-btn-submit u-button-style">Filter</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
        </form>
      </div>
    </div>
    <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
           xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
    </button>
  </div>
</section>


<section
  class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-6"
  id="sec-c0b7">
  <div class="u-align-center u-container-style u-dialog u-white u-dialog-1">
    <div class="u-container-layout u-container-layout-1">
      <h6 class="u-text u-text-default u-text-1">NODE DETAILS</h6>
      <h6 class="u-text u-text-default u-text-2">Node name:<span style="font-weight: 700;"></span>
      </h6>
      <p class="u-text u-text-default u-text-3">Node1</p>
      <p class="u-text u-text-default u-text-2">Type:</p>
      <p class="u-text u-text-default u-text-5">Type1<br>
      </p>
      <p class="u-text u-text-default u-text-2">Risks:<br>
      </p>
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-1">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-bottom u-container-layout-2">
                    <p class="u-text u-text-default u-text-7">Name</p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-10 u-layout-cell-2">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-3">
                    <p class="u-text u-text-default u-text-8">Concerns </p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-3">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-4">
                    <p class="u-text u-text-default u-text-9">Consequence</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-4">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-5">
                    <p class="u-text u-text-default u-text-10">Likelihood</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-5">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-6">
                    <p class="u-text u-text-11">Risk level</p>
                  </div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-size-10 u-layout-cell-6">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-7">
                    <p class="u-text u-text-default u-text-12">Mitigation strategies</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-7">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-8">
                    <p class="u-text u-text-13">Something happened</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-8">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-9">
                    <p class="u-text u-text-default u-text-14">- Concern 1<br>
                    </p>
                    <p class="u-text u-text-default u-text-15">- Concern 3</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-9">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-10">
                    <p class="u-text u-text-default u-text-16">5</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-10">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-11">
                    <p class="u-text u-text-default u-text-17">1</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-11">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-12">
                    <p class="u-text u-text-default u-text-18">5</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-12">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-13">
                    <p class="u-text u-text-19">- Mitigation1</p>
                    <p class="u-text u-text-20">- Mitigation 2<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-13" data-animation-name=""
                     data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-14">
                    <p class="u-text u-text-21">Something else happened</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-14" data-animation-name=""
                     data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-15">
                    <p class="u-text u-text-default u-text-22">- Concern 2<br>
                    </p>
                    <p class="u-text u-text-default u-text-23">- Concern 3</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-15">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-16">
                    <p class="u-text u-text-default u-text-24">5</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-16" data-animation-name=""
                     data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-17">
                    <p class="u-text u-text-default u-text-25">5</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-17" data-animation-name=""
                     data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-valign-middle u-container-layout-18">
                    <p class="u-text u-text-default u-text-26">25</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-18">
                  <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-19">
                    <p class="u-text u-text-27">- Mitigation1</p>
                    <p class="u-text u-text-28">- Mitigation 2<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
           xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
    </button>
  </div>
</section>



</body>
</html>
