.import-btn{
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 0.9375rem;
  /*margin: -0 px auto 0 560px;*/
  padding: 14px 23px;
  color: #ffffff;
  background-color: #77aad9;
}

.import-btn:hover {
  background-color: #5d9ad2;
  cursor: pointer;
}

