modal {
  display: none; //hidden by default
  font-family: IBM-plex, arial, serif;

  .modal {

    /* modal container fixed across whole screen */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 65%;

    z-index: 1000;

    overflow: auto; // enables scrolling for tall modals

    .modal-body {
      padding: 20px;
      background: #ffffff;

      margin: 40px;


      .close-modal {
        position: absolute;
        right:60px;
      }

      .close-modal:hover {
        background-color: #afafaf;
        cursor: pointer;
      }

      .close-modal:disabled  {
        background-color: #e1e1e1;
        cursor: not-allowed;
      }

    }
  }



  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.65;

    z-index: 900;
  }

  body.modal-open {
    overflow:hidden;
  }
}

.modal-title {
  text-align: center;
  font-weight: bold;
}

.btn {
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 14px 23px;
}

.import-sc[title] {
  font-size: 10px !important;
}


