.base {
  font-family: IBM-plex, arial, serif;
  margin: 25px;
  width: auto;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 55rem;
  height: 35rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
}

.help-icon {
  padding: 20px;
  display: block;
  width: 5% !important;
  height: auto;
}

.name {
  text-align: center;
  font-size:3.0vw;
  font-weight: 600;
}

.text {
  text-align: center;
  font-weight: 400;
  color: rgb(97, 97, 97);
}
.import-btns {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.visualize {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.visualize-btn {
  background-color: #478ac9;
  color: white;
  text-decoration: none;
  padding: 14px 23px;
  border: none;
  border-radius: 8px;
  display: inline-block;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  font-size: 0.9375rem;
}

.visualize-btn:hover {
  background-color: #5d9ad2;
  cursor: pointer;
}

.import-btn {
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 0.9375rem;
  padding: 14px 23px;
  color: #ffffff;
  background-color: #77aad9;
  margin-bottom: 1rem;
}

.import-btn:hover {
  background-color: #5d9ad2;
  cursor: pointer;
}

.import-sc[title] {
  font-size: 10px !important;
}

.txt {
  font-family: IBM-plex, arial, serif;
}

#help {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: contents;
}
.help-icon {
  cursor: pointer;
}

