<div *ngIf="details">
  <button class="close-button" (click)="closeDialog()">&#x2716;</button>
  <h2>Node details</h2>
  <h4><span class="label">Name:</span> <span class="value">{{ details.name }}</span></h4>
  <h4><span class="label">Category:</span> <span class="value">{{ details.category }}</span></h4>
  <h4>Risks:</h4>
  <table class="risk-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Consequence</th>
      <th>Likelihood</th>
      <th>Risk Factor</th>
      <th>Concerns</th>
      <th>Mitigation Strategies</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let risk of details.risks">
      <td>{{ risk.name }}</td>
      <td>{{ risk.consequenceLevel }}</td>
      <td>{{ risk.likelihoodLevel }}</td>
      <td>{{ risk.riskFactor }}</td>
      <td>
        <ul>
          <li *ngFor="let concern of risk.concern">
            <span class="bullet">&#8226;</span> {{ concern }}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let strategy of risk.mitigationStrategy">
            <span class="bullet">&#8226;</span>  {{ strategy }}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
