:host {
  display: block;
  padding: 25px;
  margin: 5px;
}

.label, h2, h4 {
  font-weight: bold;
  color: #414040;
}

.value {
  font-weight: normal;
  color: #414040;
}

.bullet {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
}

.risk-table {
  width: 100%;
  border-collapse: collapse;
  //background-color: #f5f7fa;
  border: 1px solid #414040;
}

.risk-table th,
.risk-table td {
  padding: 8px;
  border: 1px solid #414040;
  font-size: 12px;
}

.risk-table th {
  font-weight: bold;
  text-align: left;
}

.risk-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.risk-table li {
  margin-bottom: 5px;
  font-size: 12px;
}

:host {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #414040;
  background: none;
  border: none;
  cursor: pointer;
}

.red {
  background-color: rgba(213, 27, 27, 0.69);
  color: white
}

.yellow {
  background-color: rgba(232, 194, 6, 0.79);
  color: black
}

.green {
  background-color: rgba(34, 139, 34, 0.83);
  color: white
}



