.filter-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-value {
  margin-bottom: 10px;
  margin-right: 10px;
}

#applied-filters {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f5f7fa;
}

.applied-filter-header {
  padding: 5px;
}

.applied-header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
}

#applied-filters-title {
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.hide-btn-container {
  display: flex;
  position: absolute;

  right: 10px;
}

.applied-filter-list {
  margin-top: 30px;
}

.applied-filter-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.hide-filters-btn {
  margin-bottom: 10px;
  background-color: #ff5252;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.hide-filters-btn:hover {
  background-color: #ff1744;
}
