<div hidden="until-found" id="applied-filters">
  <div class="applied-header">
    <div class="filter-actions">
      <button class="applied-filter-btn" id="edit-filter" title="Edit filter"
              (click)="handleEditFilters('filter-modal', filters)">
        <img id="edit-icon"
             ngSrc="{{ imageUrl_edit }}" height="25" width="25" alt="Edit"></button>
      <button class="applied-filter-btn" title="Delete filter" (click)="handleClearFilters()">
        <img id="delete-icon"
             ngSrc="{{ imageUrl_trash }}" height="25" width="25" alt="Delete"></button>
    </div>

    <div class="applied-filter-header">
      <p class="txt" id="applied-filters-title">Applied Filter</p>
    </div>
    <div class="hide-btn-container">
    <button class="hide-filters-btn" (click)="hideApplied()">Hide</button>
    </div>
  </div>
  <div class="applied-filter-list">
    <ng-container *ngFor="let filter of filters?.conditions">
      <div *ngIf="filter.conditionName === 'concerns'">
        <p class="filter-label">{{ getFilterDisplayName(filter.conditionName) }}</p>
        <div class="filter-value">
          <p>{{ getConcernNames(filter.value) }}</p>
        </div>
      </div>
      <div *ngIf="(((filter.conditionName === 'risk_factor') ||
                   (filter.conditionName === 'risk_level') ||
                   (filter.conditionName === 'likelihood')) &&
                    (filter.operator != 'GT'))">
        <p class="filter-label">{{ getFilterDisplayName(filter.conditionName) }}</p>
        <div class="filter-value">
          <span>{{ getFilterDisplay(filter) }}</span>
        </div>
      </div>
      <div *ngIf="filter.conditionName === 'mitigation'">
        <p class="filter-label">{{ getFilterDisplayName(filter.conditionName) }}</p>
        <div class="filter-value">
          <span>{{ filter.value === 'yes' ? 'Has Mitigation Strategies' : 'No Mitigation Strategies' }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
