<button (click)="button()">Highlight</button>
<button (click)="removeButton()">Clear filters</button>

<div class="base">
  <div class="header">
    <div class="button-span">
      <div class="import-export">
        <app-import text="Import a new Supply Chain"></app-import>
        <app-import text="Export"></app-import>
      </div>
      <app-import text="Apply Filters"></app-import>
    </div>
  </div>
  <div class="vis-card-container">
    <div class="vis-card">
      <app-dag-visualisation *ngIf="nodes" [nodes]="nodes"></app-dag-visualisation>
      <!--<app-high-charts-vis></app-high-charts-vis>-->
    </div>
  </div>
</div>
