<div class="base">
  <div class="header">
    <div class="button-span">
      <div class="import-export">
        <a routerLink="/"  class="btn new-sc-btn">Import a new Supply Chain</a>
        <button class="btn export-btn" (click)="exportChart()">Export</button>
      </div>
      <button *ngIf="!filters" class="filter-btn btn" (click)="openModal('filter-modal')">Add Filter</button>
      <button *ngIf="filters" class="btn" id="show-applied" (click)="showApplied()">Show applied filter</button>
    </div>
  </div>


<!--  <div *ngIf="noFiltersMsg" id="no-filters-msg">-->
<!--    <img id="no-filters-img"-->
<!--         ngSrc="{{ imageUrl_attention }}" height="20" width="20" alt="Attention">-->
<!--    <p>No filter to show</p></div>-->

  <div class="content-container">
    <div class="vis-card">
      <div class="graph-container"*ngIf="nodes && (nodes.length > 0)" >
        <app-dag-visualisation  [nodes]="nodes" (nodeClick)="onNodeClick($event)"></app-dag-visualisation>
      </div>
      <p class="error-msg" *ngIf="!(nodes && (nodes.length > 0))" >To start upload a supply chain</p>
    </div>

    <div class="applied-filters-container">
      <app-applied-filters
        [filters]="filters" (clearFilters)="handleClearFilters()" [concernForest]="concernForest"
        (editFilters)="handleEditFilters($event.id, $event.selectedFilters)">
      </app-applied-filters>
    </div>
  </div>

  <modal id="filter-modal" title ="Add New Filter">
    <filter (filterSelected)="handleFilterSelected($event)" [concernForest]="concernForest" ></filter>
  </modal>

  <modal class="export-modal" id="export-modal" title="Export Supply Chain">
  </modal>

</div>
