<div class="base">
  <div class="header">
    <div class="button-span">
      <div class="import-export">
        <a href="" class="btn new-sc-btn">Import a new Supply Chain</a>
        <button class="btn export-btn" (click)="openModal('export-modal')">Export</button>
      </div>
      <button class="filter-btn btn" (click)="openModal('filter-modal')">Add Filter</button>
    </div>
  </div>


  <button class="btn" id="show-applied" (click)="showApplied()">Show applied filters</button>
  <div *ngIf="noFiltersMsg" id="no-filters-msg">
    <img id="no-filters-img"
         ngSrc="{{ imageUrl_attention }}" height="20" width="20" alt="Attention">
    <p>No filters to show</p></div>

  <div hidden="until-found" id="applied-filters">
    <div class="applied-filter-header">
      <p class="txt" id="applied-filters-title">Applied Filters</p>
      <button class="btn" id="hide-applied-button" (click)="hideApplied()">HIDE</button>
    </div>
    <div class="applied_filter" *ngFor="let filter of filters">
      <input type="checkbox">
      <label class="filter-color-name">
        <div class="color-box" [style.background-color]="filter.color"></div>
        <div class="txt filter-name-applied">{{filter.name}}</div>
      </label>
      <button class="applied-filter-btn" id="edit-filter" title="Edit filter">
        <img id="edit-icon"
             ngSrc="{{ imageUrl_edit }}" height="25" width="25" alt="Edit"></button>
      <button class="applied-filter-btn" id="delete-filter" title="Delete filter">
        <img id="delete-icon"
             ngSrc="{{ imageUrl_trash }}" height="25" width="25" alt="Delete"></button>
    </div>
  </div>

  <div class="vis-card-container">
    <div class="vis-card">
      <app-dag-visualisation></app-dag-visualisation>
      <!--<app-high-charts-vis></app-high-charts-vis>-->
    </div>
  </div>

  <modal class="filter-modal txt" id="filter-modal" title="New Filter">
    <p class="filter-text">Select criteria for the nodes you want to filter.</p>
    <div>
      <p class="txt">Select concerns:</p>
      <div class="select-criteria">

        <ng-template #concernTemplateRef let-concern="node">
          <div class="node">
            <label class="node-label">
              <input type="checkbox" [ngModel]="concern.check" class="filter"
                     (ngModelChange)="selectNode(concern, $event)"> {{concern.concern}}
            </label>
            <div *ngIf="concern.subconcerns.length" class="node-children">
              <ng-template ngFor let-subconcern [ngForOf]="concern.subconcerns">

                <ng-template
                  [ngTemplateOutlet]="concernTemplateRef"
                  [ngTemplateOutletContext]="{node:subconcern}">
                </ng-template>
              </ng-template>
            </div>
          </div>
        </ng-template>
        <ng-template ngFor let-concerns [ngForOf]="concernForest.roots">
          <ng-template
            [ngTemplateOutlet]="concernTemplateRef"
            [ngTemplateOutletContext]="{node:concerns}">
          </ng-template>
        </ng-template>
      </div>
    </div>

    <div>
      <p class="txt">Select risks:</p>
      <div class="select-criteria">
      </div>
    </div>

    <div class="filter-slider">
      <div><label class="filter-selection"><input type="checkbox" id="risk-level-filter" class="filter"
                                                  name="risk-level" [(ngModel)]="filterByRiskLevel">Risk
        Level</label></div>
      <div [hidden]="!filterByRiskLevel" class="slider-input">
        <div class="slider-container">
          <input id="fromSliderRisk" type="range" value="3" min="0" max="10">
          <input id="toSliderRisk" type="range" value="5" min="0" max="10">
        </div>
        <div class="slider-values">
          <div>Lowest Value<input class="slider-number-input" type="number" id="fromInputRisk" value="3" min="0"
                                  max="10"></div>
          <div>Highest Value<input class="slider-number-input" type="number" id="toInputRisk" value="5" min="0"
                                   max="10"></div>
        </div>
      </div>
    </div>

    <div class="filter-slider">
      <div><label class="filter-selection"><input type="checkbox" id="likelihood-filter" name="likelihood"
                                                  class="filter"
                                                  [(ngModel)]="filterByLikelihood">Likelihood</label>
      </div>
      <div [hidden]="!filterByLikelihood" class="slider-input">
        <div class="slider-container">
          <input id="fromSliderLikelihood" type="range" value="3" min="0" max="10">
          <input id="toSliderLikelihood" type="range" value="5" min="0" max="10">
        </div>
        <div class="slider-values">
          <div>Lowest Value<input class="slider-number-input" type="number" id="fromInputLikelihood" value="3" min="0"
                                  max="10"></div>
          <div>Highest Value<input class="slider-number-input" type="number" id="toInputLikelihood" value="5" min="0"
                                   max="10"></div>
        </div>
      </div>
    </div>

    <div class="filter-slider">
      <div><label class="filter-selection"><input type="checkbox" id="factor-filter" name="risk-factor" class="filter"
                                                  [checked]=false [(ngModel)]="filterByRiskFactor">Risk
        Factor</label></div>
      <div [hidden]="!filterByRiskFactor" class="slider-input">
        <div class="slider-container">
          <input id="fromSliderRiskFac" type="range" value="3" min="0" max="10">
          <input id="toSliderRiskFac" type="range" value="5" min="0" max="10">
        </div>
        <div class="slider-values">
          <div>Lowest Value<input class="slider-number-input" type="number" id="fromInputRiskFac" value="3" min="0"
                                  max="10"></div>
          <div>Highest Value<input class="slider-number-input" type="number" id="toInputRiskFac" value="5" min="0"
                                   max="10"></div>
        </div>
      </div>
    </div>

    <div class="filter-slider">
      <div><label class="filter-selection"><input type="checkbox" id="mitigation-filter" name="mitigation"
                                                  class="filter"
                                                  [(ngModel)]="filterByMitigation">Mitigation
        Strategy</label></div>
      <div [hidden]="!filterByMitigation" class="radio-wrapper">
        <p class="txt">Select nodes that: </p>
        <div class="radio-value">
          <input id="has-mitigation" type="radio" class="mitigation-radio filter" name="mitigation"
                 value="has-mitigation">
          <label class="radio-text txt" for="has-mitigation">have a mitigation strategy</label>
        </div>
        <div class="radio-value">
          <input id="no-mitigation" type="radio" class="mitigation-radio filter" name="mitigation"
                 value="no-mitigation">
          <label class="radio-text txt" for="no-mitigation">don't have a mitigation strategy</label>
        </div>
      </div>
    </div>

    <div class="filter-specs">
      <div class="filter-name"><p class="txt">Name the filter: </p>
        <input type="text" id="filter-name" maxlength="25" placeholder="Filter Name" [(ngModel)]="filterNameField"
               required>
      </div>
      <div class="filter-color"><p class="txt">Select color for the filter: </p><input type="color" id="filter-color"
                                                                                       value="#e66465"></div>
    </div>

    <div class="bottom-btn">
      <button id="reset-btn" class="reset-filter-btn btn" (click)="resetCheckboxes()">Reset Filter</button>
      <button id="apply-btn" class="apply-filter-btn btn">Apply Filter</button>
    </div>
  </modal>

  <modal class="export-modal" id="export-modal" title="Export Supply Chain">
  </modal>

</div>
