.base {
  font-family: IBM-plex, arial, serif;
  width: auto;
  height: 100%;
  background-color: #f5f7fa;
}

.header {
  background-color: #235380;
  border: 1px solid black;
  border-top: none;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-weight: bold;
}

.button-span {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.import-export {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vis-page-btns {
  border: 1px solid black;
  font-weight: 700;
  font-size: 0.8375rem;
  padding: 10px 23px;
  cursor: pointer;
}

.error-msg {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #3f4145;
  opacity: 0.7;
}

.new-sc-btn {
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: #7c7e7e;
  text-decoration: none;
}

.new-sc-btn:hover {
  background-color: #5d9ad2;
  cursor: pointer;
}

.export-btn {
  background-color: #7c7e7e;
  color: #ffffff;
}

.export-btn:disabled, .export-btn:disabled:hover  {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

.export-btn:hover {
  background-color: #5d9ad2;
  cursor: pointer;
}

.filter-div{
  display: flex;
  justify-content: right;
  width: 25%;
  align-items: center;
}

.filter-btn {
  color: #ffffff;
  float: right;
  background-color: #176ab9;
}

.filter-btn:disabled, .filter-btn:disabled:hover{
  background-color: #bbbbbb;
  cursor: not-allowed;
}

.filter-btn:hover {
  background-color: #608fd0;
  cursor: pointer;
}


.vis-card-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.vis-card {
  position: relative;
  width: 90%;
  height: 80vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);;
  transition: 0.3s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  font-family: IBM-plex, arial, serif;
}


#applied-filters {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 4;
}

#show-applied {
  font-size: 80%;
  float: right;
  z-index: 3;
}

#show-applied:hover {
  background: #d5d5d5;
}

#no-filters-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 90%;
  right: 8%;
  margin-top: 60px;
  border: 2px solid #fd2146;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

#no-filters-img {
  padding-right: 10px;
}

#applied-filters-title {
  text-align: center;
  font-weight: bold;
  margin-left: 25%;
}

.filter-color-name {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
}

.applied_filter {
  display: flex;
  padding: 10px;
}

.color-box{
  height: 14px;
  width: 14px;
  border: 1px solid black;
  margin-left: 10px;
}

.filter-name-applied {
  margin-left: 10px;
}

#edit-filter, #delete-filter {
  background: none;
  border: none;
}

.applied_filter-btn {
  margin-right: 0;
}

.applied-filter-header {
  display: flex;
  width: 100%;
}

#hide-applied-button {
  margin-left: 28%;
  margin-top: 10px;
  font-size: 10px;
  padding: 8px;
  height: 30px;
  letter-spacing: 0.1rem;
}

#hide-applied-button:hover {
  background: #d5d5d5;
}


.graph-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.applied-filters-container {
  width: 25%;
  position: absolute;
  top: 0;
  right: 2%;
}


